<div class="container h-100" ng-controller="reviewPageController">
    <div class="row align-items-center h-100">
        <form class="mx-auto" ng-submit="addReview()">
            <div class="form-group">
                <label>Places</label>
                <select name="placeSelect" class="form-control" ng-model="model.placeId" required>
                    <optgroup ng-repeat="city in cities" label="{{city.name}}">
                        <option ng-repeat="p in city.places" value="{{p.id}}">{{p.name}}</option>
                    </optgroup>
                </select>
            </div>

            <div class="form-group ">
                <label>Set rating for this place</label>
                <input name="rating" type="number" class="form-control" min="1" max="10" ng-model="model.rating"
                       required>
            </div>

            <div class="form-group ">
                <label for="textArea">Let us know what do you think about it</label>
                <textarea id="textArea" name="comment" class="form-control" ng-model="model.comment"
                          required></textarea>
                <input type="submit" value="Post it" class="btn btn-primary my-2">
            </div>

        </form>
        <div ng-show="postErrors">
            <div ng-repeat="e in postErrors" class="alert alert-danger" role="alert">
                <h4 class="alert-heading">{{ e }}</h4>
            </div>
        </div>
    </div>
</div>
