<div class="container align-content-center" ng-controller="reviewPageController">
    <form ng-submit="addReview()">
        <div class="row ">
            <div class="form-group col-lg-3 col-sm-6m">
                <label>Places</label>
                <select name="placeSelect" class="form-control" ng-model="model.placeId" required>
                    <optgroup ng-repeat="city in cities" label="{{city.name}}">
                        <option ng-repeat="p in city.places" value="{{p.id}}">{{p.name}}</option>
                    </optgroup>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6 col-lg-3">
                <label>Set rating for this place</label>
                <input name="rating" type="number" class="form-control" min="1" max="10" ng-model="model.rating" required>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6 col-lg-5">
                <label for="textArea">Let us know what do you think about it</label>
                <textarea id="textArea" name="comment" class="form-control" ng-model="model.comment" required></textarea>
                <input type="submit" value="Post it" class="btn btn-primary my-2">
            </div>
        </div>
    </form>
    <div ng-show="postErrors">
        <div ng-repeat="e in postErrors" class="alert alert-danger" role="alert">
            <h4 class="alert-heading">{{ e }}</h4>
        </div>
    </div>
</div>
